$pip-container-spacing: 20px;
$pip-container-border-thickness: 1px;

.pip-container {
    box-sizing: border-box;
    position: relative;
    padding: $pip-container-spacing;
}

.pip-container:hover {
    // adjusting the padding keeps the box from jumping around
    padding: $pip-container-spacing - $pip-container-border-thickness;
    border: $pip-container-border-thickness dashed;
}

.pip-button {
    position: absolute;
    top: 0;
    right: 0;
    visibility: visible;
    z-index: 10;
}

#picture-in-picture .pip-hidden {
    visibility: hidden;
}